.app {
  height: 500px;
  width: 500px;
  background: #dfdfdf;
  position: relative;
  background-image: url('images/bg.jpg');
}

.box {
  /*background: #f44336;*/
  border-radius: 50%;
  position: absolute;
}
.box.clicked {
	/*background-color: red;*/
	/*background-image: url('images/blood.png');*/
	/*background-size: contain;*/
}