* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* List Style None Class */
.ls-none {
	list-style: none;	
}

/* DEBUG*/
.container {
	/*display: none;*/
	/*background-image: url('../design.png');*/
	/*height: 2048px;/*/
}

@media only screen and (min-width: 400px) {
	body {
		min-width: 1024px;
	}
}