/* Media Queries In Descending order */

/* For IPad */
@media only screen and (max-width: 768px) {
	.logo, .nav-items-ul {
		float: none;
		text-align: center;
	}
	.burger {
		display: block;
	}
	.nav-items-ul {
		display: none;
	}
	.nav-items-ul ul li{
		float: none;
		margin: 0 auto;
	}
	div.burger:hover {
		background-color: #fff;
	}
	div.burger:hover .nav-items-ul {
		/*background-color: #fff;*/
		display: block;
	}
}


/* For Galaxy S5 */
@media only screen and (max-width: 640px) {
	
}