* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* List Style None Class */
.ls-none {
	list-style: none;	
}
/*.container {
	max-width: 100%;
}*/
/*img {
	display: block;
}*/